<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Datos Técnicos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ordenes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-label>Técnicos</ion-label>
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>      
    </ion-list-header>
    <ion-item *ngFor="let tecnico of tecnicos" style="font-size: 0.75rem;">
      <ion-label>{{ tecnico.nombre }}</ion-label>
      <ion-label>{{ tecnico.fecha }}</ion-label>
      <ion-label slot="end">{{ tecnico.minutos }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Piezas</ion-label>
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>      
    </ion-list-header>
  </ion-list>
</ion-content>
