[data-initials]:before{
    background: #999;
    color: white;
    opacity: 1; 
    content: attr(data-initials); 
    display: inline-block; 
    font-weight: bold; 
    border-radius: 50%; 
    vertical-align: middle; 
    margin-right: 0.1em; 
    width: 38px; 
    height: 38px; 
    line-height: 38px; 
    text-align: center; 
}

.propia:before {
    background-color: steelblue;
}

.finalizada:before {
    background-color: orange;
}

.descartada:before {
    background-color: #ccc;
}

.validada:before{
    background-color: mediumseagreen;
}

.rechazada:before{
    background-color: tomato;
}
