<ion-menu contentId="listO">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        {{ user.username }} - {{ getTipoUsuario() }}/{{ getCentro() }}
      </ion-item>      
      <ion-item (click)="go('/ordenes')">
        <ion-label>Ordenes</ion-label>    
        <ion-icon slot="start" name="build-outline"></ion-icon>
      </ion-item>
      <ion-item (click)="go('/faltas')">
        <ion-label>Faltas</ion-label>
        <ion-icon slot="start" name="cart-outline"></ion-icon>
      </ion-item>
      <ion-item (click)="go('/info')">
        <ion-label>Estadísticas</ion-label>    
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      </ion-item>
      <ion-item-divider></ion-item-divider>
      <ion-item (click)="logout()">
        <ion-label>Cerrar Sesión</ion-label>
        <ion-icon name="exit" slot="start" ></ion-icon>
      </ion-item>      
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="showFiltro()">
          <ion-icon name="filter-outline"  ></ion-icon>
        </ion-button>        
      </ion-buttons>
    <ion-title>Ordenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="listO">
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let orden of ordenes">
      <ion-item (click)="editOrden(orden.id)">
        <ion-avatar>
          <div [attr.data-initials]="orden.tipo" [class]="{ 'validada': orden.estado==util.VALIDADA, 'rechazada': orden.estado==util.RECHAZADA, 'descartada': orden.estado==util.DESCARTADA }"></div>
        </ion-avatar>
        <ion-label style="padding-left: 10px">
          <h3 [class]="{ 'own': orden.solicitante == user.id }">{{ orden.averia }}</h3>
          <h5 style="color: gray; width: 60%; display: inline-block; ">{{ orden.estado_nom }}</h5>
          <h5 style="color: gray; width: 38%; display: inline-block; text-align: right;">{{ orden.fecha }}</h5>          
        </ion-label>
      </ion-item>
      <ion-item-options side="end" *ngIf="orden.solicitante == user.id && orden.estado >= util.FINALIZADA && orden.estado < util.DESCARTADA">
        <ion-item-option color="success" *ngIf="orden.estado!=util.VALIDADA" (click)="validar(orden.id, slidingItem)">Validar</ion-item-option>
        <ion-item-option color="danger" *ngIf="orden.estado!=util.RECHAZADA" (click)="rechazar(orden.id, slidingItem)">Rechazar</ion-item-option>
      </ion-item-options>
      <ion-item-options side="end" *ngIf="user.type != util.OPERARIO && orden.estado == util.PENDIENTE">        
        <ion-item-option color="danger" (click)="descartar(orden.id, slidingItem)">Descartar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="addOrden()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
