<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Filtro Faltas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Aplicar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Centro</ion-label>
      <ion-select [(ngModel)]="filtro.centro" [disabled]="user.type==2" placeholder="Select One">
        <ion-select-option value="">Todos</ion-select-option>
        <ion-select-option *ngFor="let centro of centros" [value]="centro.id">{{ centro.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Desde</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="filtro.desde"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Hasta</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="filtro.hasta"></ion-datetime>
    </ion-item>    
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-select [(ngModel)]="filtro.usuario" [disabled]="user.type==2" placeholder="Select One">
        <ion-select-option [value]="0">Todos</ion-select-option>
        <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.name }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
