
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<!--
<ion-content>

</ion-content>
-->
<ion-content>      
  <ion-list style="padding: 0 20px; margin-top: 25%">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="user"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" value=""></ion-input>
    </ion-item>

  </ion-list> 
  
  <div style="padding: 20px 20px;">
    <ion-button color="primary" expand="block" (click)="doLogin()" >Acceder</ion-button>
  </div>  
</ion-content>
