<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Solicitud</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ordenes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list style="padding: 0 20px;">
    <ion-item>
      <ion-label position="floating">Solicitante</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-radio-group>
      <ion-row style="margin-top: 15px;">
        <ion-col>
          <ion-item>
            <ion-label>Máquina</ion-label>
            <ion-radio></ion-radio>
          </ion-item>  
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Instalación</ion-label>
            <ion-radio></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <ion-item style="margin-top: 15px;">
      <ion-label position="floating">Máquina</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item style="margin-top: 15px;">
      <ion-label position="floating">Instalación</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item style="margin-top: 15px;">
      <ion-label position="floating">Ubicación</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item style="margin-top: 15px;">
      <ion-label position="floating">Averia</ion-label>
      <ion-textarea rows="10"></ion-textarea>
    </ion-item>
  </ion-list> 
</ion-content>
